body {
    font-family: system-ui !important;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    background-color: var(--body_bg);
    color:#c4cfde ;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: transform 0.5s ease-out;
}

:root {
    --body_bg: #212428;;
    --gradient: linear-gradient(45deg, #6f18a580, #6f3bbc96);
    --purple: #c4cfde;
    --gradient2: linear-gradient(45deg, #484648ed 0%, #141414e0 100%);
    /*--gradient1:linear-gradient(200deg, #6f18a5, #6f3bbc);*/
    --gradient1: linear-gradient(145deg, #1e2024, #23272b);
    --gradient-box: linear-gradient(145deg, #1e2024, #23272b);
}

.btn-gradient {
    background: var(--gradient1);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    color: white;
}
.offering .text-dark{
    color: #c4cfde!important;
}
.btn-gradient:hover {
    background: transparent !important;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    animation: colorHeading 5s infinite;
}

@keyframes boderbottomAnimation {
    0% {
        border-bottom: 4px solid #3f189a;
    }
    25% {
        border-bottom: 4px solid #6f39bb;
    }
    50% {
        border-bottom: 4px solid #7c5980;
    }
    75% {
        border-bottom: 4px solid #9338a5;
    }
}
.heading span {
    border-bottom: 4px solid #6f39bb;
    padding-bottom: 5px;
    color: #6f39bb;
    animation: colorHeading 5s infinite, boderbottomAnimation 5s infinite;
}
@keyframes colorHeading {
    0% {
        color: #3f189a;
    }
    25% {
        color: #6f39bb;
    }
    50% {
        color: #7c5980;
    }
    75% {
        color: #9338a5;
    }
}
.offcanvas-header {
    background: var(--gradient1) !important;
}

.purple {
    color: var(--purple) !important;
}

.nav-link {
    color: rgb(255 255 255 / 96%);
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    border-bottom: 1px dashed #ccc;
    font-size: 20px;
}

.dropdown-item .dropdown:hover {
    color: #4d0a91;
}

.dropdown-item .dropdown {
    align-items: center;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    font-size: 14px;
    color: #303030;
    padding: 12px 10px;
}

.drop-end {
    top: 0%;
    left: 100%;
    margin-top: -1px;

}

.dropdown-menu {
    --bs-dropdown-item-padding-x: 0rem;
    --bs-dropdown-link-active-bg: #fff;
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-item-padding-y: 0rem;
    --bs-dropdown-min-width: 15rem;
}

.logo {
    width: 18%;
}

.scroll-color-change {
    background: var(--gradient1) !important;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    backdrop-filter: blur(15px);
    -webkit-transition: .8s all ease;
    -o-transition: .8s all ease;
    transition: .8s all ease;
}
.navbar{
    background: var(--gradient1) !important;

}

.hero_bg {
    background: #000000de !important;
    height: 600px;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 30px;
}

.content h1 {
    word-spacing: 4px;
    font-size: 50px;
}

.card {
    background: var(--gradient-box);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border: none;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}
.card::before{
    content: "";
    position: absolute;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #212428, #16181c);
    opacity: 0;
    z-index: -1;
}
.footer::before {
    content: "";
    position: absolute;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #212428, #16181c);
    opacity: 0;
    z-index: -1;
}
.card:hover {
    color: white;
    cursor: pointer;
    background: var(--gradient1) !important;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;

}

.offering .w-75 {
    height: 60px;
    width: 100px !important;
    object-fit: contain;
}

.offering .card h4 {
    text-shadow: 0px 5px 10px #8d8585e3;
}

.learning {
    background-image: url(../img/learn_bg1.jpg);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}

.hero-learning {
    background-image: url(../img/positive-young-guy-working-project-late-night_116547-50113.avif);
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}

.arrow.arrow--top {
    height: 250px;
    overflow: hidden;
}

.learning_color {
    background: var(--gradient2) !important;
    height: 100%;
    position: relative;
}

.learning_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 30px;
}

.learning_text h1 {
    font-size: 55px;
    text-shadow: 0px 5px 10px #767676;
}

.hero-learning h1 {
    font-size: 35px;
    text-shadow: 0px 5px 10px #767676;
}

.learning_text p {
    font-size: 30px;
    font-weight: lighter;
}

.learning_img {
    background: var(--gradient2) !important;
    padding: 10px;
    box-shadow: 0px 4px 6px #14161987;
}

.learning_img img {
    width: 100px;
    height: 100px;
}

.event .carousel-cell {
    width: 60%;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
}

.event .carousel-cell img {
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.event .carousel-cell.is-selected img {
    opacity: 1;
}

.flickity-button {
    position: absolute;
    background: var(--gradient2) !important;
    border: none;
    color: #fff;
}

 .flickity-page-dots .dot {
    font-size: 0;
    line-height: 0;
    width: 11px;
    height: 11px;
    padding: 0;
    cursor: pointer;
    border: 0;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow:3px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    border-radius: 50%;
    transition: 0.4s;
     opacity: 1;

}
.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -37px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
.flickity-page-dots .dot.is-selected {
background:var(--gradient);
}
.footer-top, .footer-body {
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.footer-top-border {
    border-left: 1px solid rgb(255, 255, 255, 0.1);
    border-right: 1px solid rgb(255, 255, 255, 0.1);
}

footer {
    background: var(--gradient1) !important;
}

.footer_title {
    font-weight: 500;
    font-size: 18px;
}

.footer_title span {
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    padding-bottom: 15px;
}

footer .form-control {
    color: #ffffff;
    background-color: #000 !important;
    border: 1px solid #000000 !important;
}

footer .input-group-text {
    color: #ffffff;
    background: var(--gradient2) !important;
    border: 1px solid #00000000 !important;
}

footer .form-control:focus {
    color: #fff;
    border-color: rgb(13 110 253 / 0%);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
}

footer a {
    color: #b0b0b0;
    line-height: 12px;
}

footer a:hover {
    color: white;
}

footer p {
    color: #b0b0b0;
}

.flickity-button:focus {
    outline: 0;
    box-shadow: 0 0 0 5px var(--purple);
}

.baner {
    padding: 100px 0;
    background: var(--gradient1) !important;
    text-align: center;
    font-family: Heavitas, sans-serif;
    font-weight: bold;
    font-size: 120px;
    color: #FFF;
    position: relative;
    /*position: absolute;*/
    width: 100%;
}
.hero-content-text{
    color:#c4cfde!important;
}
.baner:before {
    content: "";
    height: 125px;
    width: 100%;
    background: url("../img/dark-wave.svg") repeat-x scroll 0 0;
    -webkit-background-size: 1600px 198px;
    -moz-background-size: 1600px 198px;
    -o-background-size: 1600px 198px;
    background-size: 1600px 198px;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, .2));
    filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, .2));
    -webkit-animation: an-wave 20s linear infinite;
    -moz-animation: an-wave 20s linear infinite;
    -o-animation: an-wave 20s linear infinite;
    animation: an-wave 20s linear infinite;
    /*transform: rotate(180deg);*/
}
@-webkit-keyframes an-wave {
    100% {
        background-position-x: -1600px;
    }
}

.typewrite {
    /*border-right: 5px solid #6f39bb;*/
    color: #6f39bb;
    animation: colorHeading 5s infinite;
}
.contact_section{
    background: var(--gradient-box);
    width: 100%;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color:var(--purple) ;
    outline: 0;
    box-shadow: 0 0 0 0rem var(--purple);
}
.hero_section{
    height: 70vh;
    position: relative;
}
.hero_section .hero_section_row{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.fa-star{
    color: #f2b600;
}

.card.course:hover img{
    background: white;
}
.hero_img img{
    max-width: 100%;
    min-width: 100%;
}
.home.hero_img{
    position: relative;
    max-width: 100%;
    min-width: 100%;
    animation: rotateAnimation 6s infinite;
    padding:10px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow:3px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;

}
.hero_img{
    position: relative;
    max-width: 100%;
    min-width: 100%;
    animation: rotateAnimation 6s infinite;

}
.cat_img .hero_img::before{
    content: "";
    position: absolute;
    border: 3px solid var(--purple);
    top: 20px;
    right: -20px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
    animation: colorAnimation 5s infinite , rotateAnimation 6s infinite;
}
@keyframes colorAnimation {
    0% {
        border: 3px solid #3f189a;
    }
    25% {
        border: 3px solid blue;
    }
    50% {
        border: 3px solid #7c5980;
    }
    75% {
        border: 3px solid #4e1659;
    }
}
@keyframes rotateAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }

}
.detail {
    background: var(--gradient-box);
}
.detail .nav-link {
    color: #c4cfde;
    width: 100%;
}
.detail li {
    width: 25%;
    background: var(--gradient-box);
}
.detail .nav-tabs .nav-link.active{
    background: var(--gradient1);
    color: white;
}
.progress-bar{
    background: var(--gradient1);
}
.nav-tabs {
    border-width: 1px;
    border-color: #505254;
}
.nav-tabs .nav-link.active {
    border-width: 1px;
    border-color: #505254;
}
.form-control {
    background-color: #343434;
    border: 1px solid #343434;
}
